﻿
.goth{
    font-family: 'Franklin Gothic'; 
}

h1,h2,h3{
    text-align: center;
}

tbody{
    font-style: italic;     
}

table{
    border: solid;
    background-color: aquamarine;
}

a{
    text-decoration: none;
}

a:visited{
    color: orangered;
    text-decoration: none;  
}

a:hover{
    text-decoration: underline;
    background-color: greenyellow;
}

a:active{
    text-decoration: none;
    font-weight: bold;
    background-color: white;
}




















