﻿
.goth{
    font-family: 'Franklin Gothic';
    font-size: 15pt;
}    

h1,h2,h3{
    text-align: center;
}

.tbody{
    font-style: italic;     
}

#bandlink{
     text-align: center;
     font-size: 14pt;
}

a{
    text-decoration: none;
}

a:visited{
    color: orangered;  
}

a:hover{
    text-decoration: underline;
    background-color: greenyellow;
}

.row{ 
    background-color: aqua; 
}

.row:nth-child(odd){ 
    background-color: aquamarine; 
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
 }



















