﻿
.goth{

    font-family:'Franklin Gothic';
     
    }

h1,h2,h3{

    text-align:center;

}

a{
    text-decoration:none;

}

a:hover{

    text-decoration:underline;

}

a:visited{

   color:orangered;  

}

table{
    
    border:solid;

}

















}