﻿
h2{
    color: mediumpurple;
    font-family: kremlin;
    text-align: center; 
}

.thefoot{
    text-align: center;
    font-family: 'Times New Roman';    
    font-size: 16pt;
    font-weight: 500;
    color: black;   
}

@font-face{
    font-family: kremlin;
    font-style: normal;
    font-weight: 700;
    src: url("kremlin.ttf");     
}

img{
    border: ridge;
}

a{
    text-decoration: underline;
    font-weight: normal;
}

a:visited{
    color: mediumorchid;  
    font-weight: normal;
}

a:hover{
    font-weight: bold;  
}

a:active{
    text-decoration: none;
    font-weight: normal;
}

.list{
    margin-left: 12px;
}

.container{ 
text-align: center;
display: block;
margin-left: auto;
margin-right: auto;
}

.table{
    text-align: center;
}