﻿
.navbar{ 
    width: 5em;
    font-size: 14pt;
    padding: 4px 0px 4px 12px;
    text-align: center;
    }   
 
h2{
    color: mediumpurple;
    font-family: sans-serif;
    text-align: center;
}

.thefoot{
    text-align: center;
    font-family: 'Times New Roman';    
    font-size: 16pt;
    font-weight: 500;
    color: black;
}

img{
    border: ridge;
}

a{
    text-decoration: underline;
}

a:hover{
    font-weight: bold;
    text-decoration: none;
}