﻿
.navbar{ 
    width: 5em;
    font-size: 14pt;
    padding: 4px 0px 4px 12px;
    text-align: center;
    }   
 
h2{
    color: mediumpurple;
    font-family: kremlin;
    text-align: center; 
}

.thefoot{
    text-align: center;
    font-family: 'Times New Roman';    
    font-size: 16pt;
    font-weight: 500;
    color: black;
    
}

@font-face{
         font-family: kremlin;
         font-style: normal;
         font-weight: 700;
         src: url("kremlin.ttf");     
}

img{
    border: ridge;
}

a{
    text-decoration: underline;
}

a:hover{
    font-weight: bold;
    text-decoration: none;
}

